@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

*{
   font-family: "Open Sans", sans-serif !important;
}

@layer utilities {
  .animate-scroll {
    animation: scroll 40s linear infinite;
  }
  .hover\:pause:hover {
    animation-play-state: paused;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.33%); /* Move by 1/3 since we have 3 sets of data */
  }
}

@keyframes blob {
  0% { transform: translate(0px, 0px) scale(1); }
  25% { transform: translate(30vw, -20vh) scale(1.1); }
  50% { transform: translate(-20vw, 20vh) scale(0.9); }
  75% { transform: translate(10vw, 30vh) scale(1.05); }
  100% { transform: translate(0px, 0px) scale(1); }
}

@keyframes blob-reverse {
  0% { transform: translate(0px, 0px) scale(1); }
  25% { transform: translate(-20vw, 20vh) scale(1.1); }
  50% { transform: translate(20vw, -10vh) scale(0.9); }
  75% { transform: translate(-10vw, -20vh) scale(1.05); }
  100% { transform: translate(0px, 0px) scale(1); }
}

@keyframes float-large {
  0% { transform: translate(0px, 0px) scale(1) rotate(0deg); }
  25% { transform: translate(25vw, 15vh) scale(1.2) rotate(10deg); }
  50% { transform: translate(0px, 30vh) scale(0.8) rotate(-10deg); }
  75% { transform: translate(-25vw, 10vh) scale(1.1) rotate(5deg); }
  100% { transform: translate(0px, 0px) scale(1) rotate(0deg); }
}

@keyframes music-bar {
  0%, 100% { height: 10%; }
  50% { height: 100%; }
}

.animate-music-bar {
  animation: music-bar 1.5s ease-in-out infinite alternate;
}

.animate-blob {
  animation: blob 25s infinite alternate cubic-bezier(0.45, 0, 0.55, 1);
}

.animate-blob-reverse {
  animation: blob-reverse 30s infinite alternate cubic-bezier(0.45, 0, 0.55, 1);
}

.animate-float-large {
  animation: float-large 35s infinite alternate ease-in-out;
}

.animation-delay-0 {
  animation-delay: 0ms;
}

.animation-delay-100 {
  animation-delay: 100ms;
}

.animation-delay-200 {
  animation-delay: 200ms;
}

.animation-delay-400 {
  animation-delay: 400ms;
}

.animation-delay-2000 {
  animation-delay: 5s;
}

.animation-delay-4000 {
  animation-delay: 10s;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

@keyframes dash-scroll {
  to {
    stroke-dashoffset: -16;
  }
}

@keyframes dash-scroll-reverse {
  to {
    stroke-dashoffset: 16;
  }
}

.animate-dash-scroll {
  animation: dash-scroll 1s linear infinite;
}


@keyframes grid-flow {
  0% { transform: rotateX(60deg) translateY(-100px) translateZ(-200px); }
  100% { transform: rotateX(60deg) translateY(0px) translateZ(-200px); }
}

.animate-grid-flow {
  animation: grid-flow 20s linear infinite;
}

@keyframes particle-float {
  0% { transform: translateY(0) scale(0); opacity: 0; }
  50% { opacity: 0.8; }
  100% { transform: translateY(-100vh) scale(1); opacity: 0; }
}

.animate-particle-float {
  animation: particle-float 10s linear infinite;
}

.animate-float-slow {
  animation: float-large 8s infinite alternate ease-in-out;
}


@keyframes orbit {
  from { transform: rotate(0deg) translateX(400px) rotate(0deg); }
  to { transform: rotate(360deg) translateX(400px) rotate(-360deg); }
}

@keyframes orbit-reverse {
  from { transform: rotate(360deg) translateX(450px) rotate(-360deg); }
  to { transform: rotate(0deg) translateX(450px) rotate(0deg); }
}

@keyframes float-random {
  0%, 100% { transform: translate(0, 0); }
  25% { transform: translate(20px, -30px); }
  50% { transform: translate(-10px, 10px); }
  75% { transform: translate(-30px, -10px); }
}

.animate-orbit-1 { animation: orbit 20s linear infinite; }
.animate-orbit-2 { animation: orbit-reverse 25s linear infinite; }
.animate-orbit-3 { animation: orbit 30s linear infinite reverse; }
.animate-float-random-1 { animation: float-random 20s ease-in-out infinite; }
.animate-float-random-2 { animation: float-random 22s ease-in-out infinite reverse; }

@keyframes scan-line {
  0% { top: 0%; opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { top: 100%; opacity: 0; }
}

.animate-scan-line {
  animation: scan-line 4s linear infinite;
}
