@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-scroll {
    animation: scroll 40s linear infinite;
  }
  .hover\:pause:hover {
    animation-play-state: paused;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.33%); /* Move by 1/3 since we have 3 sets of data */
  }
}
